*.js
!jest.config.js

!/lib/lambda/*.js
!/lib/lambdas/create-request/*.js
!/lib/lambdas/stream-processor/*.js
/lib/lambdas/stream-processor/test.js
/lib/lambdas/create-request/test.js

*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

.vscode


